<div class="text-center">
  <form action="/" method="post" class="form-signin">
    <h1 class="h4 mb-3">Criar Conta</h1>

    <label for="inputEmail" class="sr-only">Email</label><!--sr-only recurso de acessibilidade-->
    <input type="email" id="inputEmail" name="name" value="" placeholder="Email" class="form-control mb-3"
           [(ngModel)]="usuario.email"
           #email="ngModel"
           email
           [ngClass]="{
           'is-invalid':email.invalid && (email.dirty || email.touched),
           'is-valid':email.valid && (email.dirty || email.touched)
           }"
           required />

    <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email deve ser preenchido!
      </div>
      <div *ngIf="email.errors.email">
        Email não esta no formato correto!
      </div>
    </div>

    <label for="inputSenha" class="sr-only">Senha</label>
    <input type="password" id="inputSenha" name="senha" value="" placeholder="Senha" class="form-control mb-3"
           [(ngModel)]="usuario.senha"
           #senha="ngModel"
           required
           [ngClass]="{
           'is-invalid':senha.invalid && (senha.dirty || senha.touched),
           'is-valid':senha.valid && (senha.dirty || senha.touched)
           }" />
    <div class="invalid-feedback" *ngIf="senha.invalid && (senha.dirty || senha.touched)">
      <div *ngIf="senha.errors.required">
        Senha deve ser informada.
      </div>
    </div>
    <!--nome-->
    <label for="inputNome" class="sr-only">Nome</label><!--sr-only recurso de acessibilidade-->
    <input type="text" id="inputNome" name="nome" value="" placeholder="Nome" class="form-control mb-3"
           [(ngModel)]="usuario.nome"
           #nome="ngModel"
           [ngClass]="{
           'is-invalid':nome.invalid && (nome.dirty || nome.touched),
           'is-valid':nome.valid && (nome.dirty || nome.touched)
           }"
           required />

    <div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
      <div *ngIf="nome.errors.required">
        Nome deve ser preenchido!
      </div>
    </div>

    <!--sobrenome-->
    <label for="inputSobreNome" class="sr-only">Sobrenome</label><!--sr-only recurso de acessibilidade-->
    <input type="text" id="inputSobreNome" name="sobrenome" value="" placeholder="Sobrenome" class="form-control mb-3"
           [(ngModel)]="usuario.sobreNome"
           #sobrenome="ngModel"
           [ngClass]="{
           'is-invalid':sobrenome.invalid && (sobrenome.dirty || sobrenome.touched),
           'is-valid':sobrenome.valid && (sobrenome.dirty || sobrenome.touched)
           }"
           required />

    <div class="invalid-feedback mb-2" *ngIf="sobrenome.invalid && (sobrenome.dirty || sobrenome.touched)">
      <div *ngIf="sobrenome.errors.required">
        Sobrenome deve ser preenchido!
      </div>
    </div>

    <button class="btn btn-primary btn-block mb-3" type="submit" (click)="cadastrar()" [disabled]="ativar_spinner">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
      Cadastrar
    </button>
    <div>
      <a [routerLink]='["/entrar"]'>Voltar</a>
    </div>
    <div class="alert alert-danger" *ngIf="mensagem">
      {{mensagem}}
    </div>
    <div class="alert alert-success" *ngIf="usuarioCadastrado">
      Usuario cadastrado com sucesso! <a class="alert-link" [routerLink]='["/entrar"]'>Clique aqui</a> para entrar no sistema com a sua conta.
    </div>
  </form>
  <div class="alert alert-primary" role="alert" *ngIf="usuarioAutenticado">
    Usuario autenticado!
  </div>

</div>
